.login .field_userName .collection,
.login .field_email .collection                         { flex-basis: 60%; }

.field .label                                           { max-width: 40%; flex-basis: 40%; }

.mobileFirstNameLabel, .mobileLastNameLabel,
.mobileUserNameLabel, .mobileEmailLabel,
.mobilePhoneLabel, .mobileCurrencyLabel,
.userNameLabel, .passwordLabel                          { flex-basis: 42%; }
.field                                                  { flex-basis: 55%; }
.field .label                                           { max-width: 35%; flex-basis: 35%; }
.menu_myAccount                                         { float: right; }

.field .label                                           { font-size: 12px; }
